venv/*
venv3.7/*
evaluation/venv-g2p/*
evaluation/g2p-seq2seq-model-6.2-cmudict-nostress/*
evaluation/data/*
evaluation/results/*
!evaluation/data/scheme_annotated
evaluation/data_reddy/parsed/*
evaluation/test_lyrics/*
generation/gpt2/data/*
.vscode/
logs/
transformers/
.idea/*
*.zip
song_data/data/*
__pycache__/*
.~lock.*
*.pyc
song_data/learning/*/dataset/*
dist/*
*.egg-info*
